<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          I am a Computer Science undergraduate with a 3.5 years of experiece as a software engineer.Currently I am working with a discovery platform startup <a href="https://www.lbb.in">LBB</a> on backend services.
        </p>
        <p>
          I love building things. I just completed building a pluggable dropship service to handle logistics for the ecommerce division of the company. Right now, I am working on a smart ledger system for financial audit and payout to the merchant for the company using Golang, AWS Kinesis, Redis and MySQL.
        </p>
        <p>
          While hard engineering problems are often intrinsically fun to tackle,
          I'm most attracted to solving real customer problems with a business justification.
          I'm looking for a senior individual contributor role where I can take on on collaborative
          team leadership responsibilites, and gain experience with
          architecture and project management.
        </p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0;">Highlights</h3>
        <ul>
          <li>
            Working on Migration from monolithic architecture to the microservice architecture
          </li>
          <li>
            Development of Search Service (Elasticsearch Based Service)
          <li>
            Implementing a system for native language synonym for products to help users find what they are looking for (leveraging NLP)
          <li>
            Development of Pluggable Dropship Module to handle the post order placement process
          </li>
          <li>
            Development of Real-time service to manage data updation across multiple services (Using Kinesis)
          </li>
          <li>
            Developed a heuristic book recommendation system
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>