<section class="tout" id="certi">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Courses & Certifications</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h3 style="margin-top:0">AI Nanodegree Program (Udacity) - Ongoing</h3>
				<ul>
					<li>
						Built a Sudoku Solver Bot Using Basic Concepts of Naked Twin and Worked on Constraint Satisfaction Problems using CSP Solver(Z3) to solve variety of problems
					</li>
					<li>
						<a href="https://github.com/AkashSky1994/AI-Nanodegree-Projects" target="_blank">Github Project Link</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Neural Network & Deep Learning (Coursera)</h3>
				<ul>
					<li>
						Training Logistic Regression Model to detect whether the image has cat or not with acccuracy around 70%
					</li>
					<li>
						Training Deep Neural Network Model to detect whether the image has cat or not with a higher accuracy than the logistic regression model.
					</li>
					<li>
						Training the Model to detect different color lines on the graph
					</li>
					<li>
						Neural Network & Deep Learning Capstone Project (<a
							href="https://github.com/AkashSky1994/neural_network_and_deep_learning_coursera" target="_blank">Project Link</a>) - <a href="https://www.coursera.org/account/accomplishments/certificate/6TT7DU9PLFWF" target="_blank">Credential Link</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Machine Learning by Andrew Ng (Coursera & Stanford)</h3>
				<ul>
					<li>
						Fundamental Course of Machine Learning with projects involving work octave/ matlab
					</li>
					<li>
						Got an Mathematical Understanding of Logistics Regression with Single & Multi Variable
					</li>
					<li>
						Unsupervised/ supervised learning | Support Vector Machines (SVM) | Dimensionality Reduction
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Python by Educative.io</h3>
				<ul>
					<li>
						Working on python from sratch and  buidling basic Understanding 
					</li>
					<li>
						<a href="https://www.educative.io/verify-certificate/zmG3AWTnNJ65JkzlqS7BRkkZkAzKT7" target="_blank">Credential Link</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>