<section class="tout" id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experience</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 style="margin-top:0">LBB (Little Black Book)</h3>
                <ul>
                    <li>
                        <b>Finance System</b> - Implementation of a smart ledger system which records all the microtransaction within the systems and outside the lbb platform for Financial Auditing and Payout.
                    </li>
                    <li>
                        Implementation of Product Image Label detection system(Using Vision APIs) with the help Custom Learning Model Augmented with Local Indian English Labels.
                    </li>
                    <li>
                        <b>Personalized Search Service</b> - Development of Personalized Search Service (Elasticsearch Based Service) Leveraging Natural Language Processing with added feature to find product in informal english-hindi word to make search highly relevant to users.
                    </li>
                    <li>
                        <b>Logistics/Dropship Service</b> - developed an smart internal logistics service to handle post processing of orders and their delivery flow. This has helped us optimize the delivery process and reduce significant cost of the delivery.
                    </li>
                    <li>
                       <b>Event Bus</b> - Worked on the development of event bus for commmunication and data updation using Real-time streaming (AWS Kinesis).
                    </li>
                </ul>
            </div>
            <div class="col-sm-12">
                <h3 style="margin-top:0">Bookchor</h3>
                <ul>
                    <li>
                        Developed the Ecommerce Services which primarily includes the catalog, checkout and post-order modules.
                    </li>
                    <li>
                        Led the team for Migration from MySQL to MongoDB.
                    </li>
                    <li>
                       Developed a digital library platform for colleges/schools with an added feature of an AI-based gamified portal which included recommendations about the books for the students to read next.
                    </li>
                    <li>
                        Involved in the development of POS system to manage the sales during book fairs which were conducted by the company across the country.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>