<section id="interests">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Interests & Personal Projects</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p>
					My personal interests include:
				</p>
				<ul>
					<li>
						<b>AI and Intelligent Systems</b>. It's an exciting time for AI. I'm working through several
						online classes and courses. You can find few certification credentials below.
					</li>
					<li>
						<b>Pending</b>Pending
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Github Projects</h3>
				<ul>
					<li>
						Working on Guided AI Project as a part of my AI nanodegree program from udacity. (<a
							href="https://github.com/AkashSky1994/AI-Nanodegree-Projects">Github Link</a>)
					</li>
					<li>
						<a href="https://github.com/AkashSky1994/async-plus">Async Plus</a> - Light Weight NPM Library
						for Batch Processing of asynchronous operations in queue based fashion (Alternative to
						Promise.all )
					</li>
					<li>
						Dockerized Category Based Shopping List API Service (<a
							href="https://github.com/AkashSky1994/shopping-list">Github Link</a>)
					</li>
					<li>
						Neural Network & Deep Learning Capstone Project (Coursera Course) (<a
							href="https://github.com/AkashSky1994/neural_network_and_deep_learning_coursera">Github
							Link</a>)
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>